/* Main column */
.classroom-view {
    width: 900px;
}

.classroom-view-image img {
    border: 2px solid black;
    width: 100%;
}

@media only screen and (max-width: 980px) {
    .classroom-view {
        width: 100%;
    }
}
