/* Left column */
.admin-panel {
    width: 100%;
}

.admin-control {
    background-color: #060d13;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.admin-control.category-control {
    width: 100%;
}

.admin-control.category-control .control-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-control.category-control .control-icon figure:not(:first-child) {
    margin-left: 1rem;
}

.admin-control.category-control .control-icon figure:not(:last-child) {
    margin-right: 1rem;
}

.admin-control .filter-categories {
    width: 450px;
    margin: 0 auto;
}

.admin-group {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.control-icon i {
    margin-left: 2px;
    margin-right: 2px;
}

.control-icon i:not(.selected):hover {
    border-bottom: 2px solid rgb(46, 174, 52);
}

.control-icon i.selected {
    border-bottom: 2px solid rgb(14, 125, 255);
}

/* Main column */
.admin-default-image {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.admin-default-image img {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
}

@media (max-width: 980px) {
}

@media (max-width: 500px) {
    .admin-control .filter-categories {
        width: 100%;
    }
}
