/* Top column */

.filter-panel {
    width: 100%;
    background-color: #060d13;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.filter-panel.close {
    overflow: hidden;
    max-height: 35px;
    transition: all 0.5s ease;
    will-change: transform;
}

.filter-panel.open {
    max-height: 500px;
    overflow: hidden;
    transition: all 0.5s ease;
    will-change: transform;
}

.filter-panel.admin-control.category-control {
    background-color: #121d26;
}

.admin-control.category-control h2,
.admin-control.category-control {
    margin-bottom: 0;
}

.admin-control.category-control .control-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-control.category-control .control-icon figure:not(:first-child) {
    margin-left: 1rem;
}

.admin-control.category-control .control-icon figure:not(:last-child) {
    margin-right: 1rem;
}

.admin-control .filter-categories {
    width: 450px;
    margin: 0 auto;
}

.control-icon figure {
    text-align: center;
    border-bottom: 2px solid black;
    margin-left: 2px;
    margin-right: 2px;
}

.control-icon figure:not(.selected):hover {
    border-bottom: 2px solid rgb(46, 174, 52);
}

.control-icon figure.selected {
    border-bottom: 2px solid rgb(14, 125, 255);
}
