/* Top column */

.admin-control.category-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-control.category-view i:hover {
    border-bottom: none;
}

.admin-control.category-view figure {
    text-align: center;
    border-bottom: 2px solid black;
}

.admin-control.category-view figure:hover {
    border-bottom: 2px solid rgb(14, 125, 255);
}

.admin-control.category-view figure.selected {
    color: white;
    border-bottom: 2px solid rgb(14, 125, 255);
}

@media (max-width: 980px) {

}
