/* Top column */

.control-icon figure {
    text-align: center;
    border-bottom: 2px solid black;
    margin-left: 2px;
    margin-right: 2px;
}

.control-icon figure:not(.selected):hover {
    border-bottom: 2px solid rgb(46, 174, 52);
}

.control-icon figure.selected {
    border-bottom: 2px solid rgb(14, 125, 255);
}

@media (max-width: 980px) {

}
