/* Both Results and Alternative table */
table.results,
table.results-alt {
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 2em;
}

table.results.narrow {
    font-weight: bold;
    width: 24rem;
    border: none;
}

table.results.narrow tbody {
    font-size: 1.5rem;
}

table.results.narrow th:first-child {
    border-top-left-radius: 5px;
}

table.results.narrow th:nth-child(3) {
    border-top-right-radius: 5px;
}

table.results.narrow td:first-child {
    border-bottom-left-radius: 5px;
}

table.results.narrow td:nth-child(3) {
    border-bottom-right-radius: 5px;
}

table.results tr:nth-of-type(1n),
table.results-alt tr:nth-of-type(1n) {
    background: rgba(60, 60, 60, 0.4);
}

table.results tr:nth-of-type(2n),
table.results-alt tr:nth-of-type(2n) {
    background: rgba(60, 60, 60, 0.6);
}

table.results th,
table.results-alt th {
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.results tr:hover,
table.results-alt tr:hover {
    background-color: rgba(70, 70, 70, 0.8);
}

table.results td,
table.results-alt td {
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    font-size: 1em;
}

/* Alternative table only */
table.results-alt tr {
    height: 5rem;
    min-height: 5rem;
    font-size: 1.5rem;
}

table.results-alt tr:not(:last-child) th {
    border-bottom: 2px solid rgb(38, 45, 52);
}

table.results-alt tr:not(:last-child) td {
    border-bottom: 2px solid black;
}

table.results-alt th {
    width: 30%;
    background-color: black;
}

table.results-alt td {
    width: 70%;
}

table.results i {
    margin-left: 2px;
    margin-right: 2px;
}

table.results.large-rows tbody tr {
    height: 6rem;
}

table.results.large-rows .table-message {
    height: 6rem;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

table.results tr figure {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 980px) {
    table.results.narrow {
        width: 100%;
    }

    table.results.large-rows tbody tr {
        height: auto;
    }

    table.results.large-rows .table-message {
        height: auto;
        display: block;
    }

    table.results {
        border: none;
    }

    table.results tbody {
        display: block;
        background-color: #121d26;
    }

    table.results thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.results tr {
        display: block;
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    table.results tr:not(:last-child) {
        margin-bottom: 1rem;
    }

    table.results-alt tr {
        font-size: 1em;
    }

    table.results td {
        display: block;
        position: relative;
        white-space: normal;
        text-align: right;
        padding-left: 8rem;
    }

    table.results td:not(:last-child) {
        border-bottom: 1px solid rgb(38, 45, 52, 1);
    }

    table.results td::before {
        content: attr(data-title);
        position: absolute;
        top: 0.33rem;
        left: 0.33rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

@media only screen and (max-width: 400px) {

}
