/* Both Results and Alternative table */
table.results,
table.results-alt {
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 2em;
}

table.results tr:nth-of-type(1n),
table.results-alt tr:nth-of-type(1n) {
    background: rgba(60, 60, 60, 0.4);
}

table.results tr:nth-of-type(2n),
table.results-alt tr:nth-of-type(2n) {
    background: rgba(60, 60, 60, 0.6);
}

table.results th,
table.results-alt th {
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    font-size: 1.1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

table.results tr:hover,
table.results-alt tr:hover {
    background-color: rgb(46, 174, 52, 0.7);
}

table.results td,
table.results-alt td {
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    font-size: 1em;
}

/* Alternative table only */
table.results-alt tr {
    height: 5rem;
    min-height: 5rem;
    font-size: 1.5rem;
}

table.results-alt tr:not(:last-child) th {
    border-bottom: 2px solid rgb(38, 45, 52);
}

table.results-alt tr:not(:last-child) td {
    border-bottom: 2px solid black;
}

table.results-alt th {
    width: 30%;
    background-color: black;
}

table.results-alt td {
    width: 70%;
}

table.results i {
    margin-left: 2px;
    margin-right: 2px;
}

.clickable {
    cursor: pointer;
}

table.results i.clickable {
    border-bottom: 2px solid rgb(255, 255, 255, 0);
}

table.results i.clickable:hover {
    border-bottom: 2px solid rgb(255, 255, 255, 1);
}

@media only screen and (max-width: 980px) {
    table.results {
        border: none;
    }

    table.results tbody {
        display: block;
        background-color: #121d26;
    }

    table.results thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.results tr {
        display: block;
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    table.results tr:not(:last-child) {
        margin-bottom: 1rem;
    }

    table.results-alt tr {
        font-size: 1em;
    }

    table.results td {
        display: block;
        position: relative;
        white-space: normal;
        text-align: center;
    }

    table.results td:not(:last-child) {
        border-bottom: 1px solid rgb(38, 45, 52, 1);
    }

    table.results td::before {
        content: attr(data-title);
        position: absolute;
        top: 0.33rem;
        left: 0.33rem;
        width: 45%;
        padding-right: 0.55rem;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}

@media only screen and (max-width: 400px) {
    table.results td {
        text-align: right;
    }
}
